html,
body {
  font-family: 'Segoe UI VSS (Regular)', 'Segoe UI', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue',
    Helvetica, Ubuntu, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

table > thead > tr > th {
  border-bottom-color: black;
  border-bottom-width: 2px;
}

table > tbody > tr > td {
  border-bottom-color: dimgray;
  border-bottom-width: 1px;
}

.markdown-content table:not(.bolt-table) {
  margin: 0 0 16px 0;
  border-collapse: collapse;
  border-spacing: 0;
  color: rgba(0, 0, 0, 0.9);
  color: var(--text-primary-color, rgba(0, 0, 0, 0.9));
  cursor: default;
  display: block;
  overflow-x: auto;
}
